@model FilmsCatalog.Models.Movie
@{
    ViewBag.Title = "Редактирование фильма";
}
<form asp-action="CreateOrEdit" asp-controller="home" asp-route-id="@Model?.ID" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="Title" class="control-label">Название</label>
        <input type="text" asp-for="Title" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Description" class="control-label">Описание</label>
        <input type="text" asp-for="Description" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Year" class="control-label">Год выпуска</label>
        <input type="number" asp-for="Year" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Producer" class="control-label">Режисер</label>
        <input type="text" asp-for="Producer" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Poster" class="control-label">Изменить постер</label>
        <input type="file" asp-for="Poster" class="form-control" />
    </div>
    <div>
        @if (Model?.Poster != null)
        {
            <img style='width:80px; height:60px;' src="data:image/jpeg;base64,@(Convert.ToBase64String(Model.Poster))" />
        }
    </div>
    <div class="form-group">
        <input type="submit" value="Сохранить" class="btn btn-default" />
    </div>
</form>